name: go-header CI
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Build
        run: go build -v ./...

      - name: Test & Coverage
        run: go test -cover -coverprofile coverage.o ./... -- -v --race
      - uses: codecov/codecov-action@v3
        with:
          file: ./coverage.o

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
      - name: Go Mod Tidy
        run: go mod tidy && git diff --exit-code
